html {
  .basic-text;
  height: 100%;
}

body {
  position: relative;
  background-color: @body-color-white !important;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
