.files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  &__wrap {
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    min-width: 740px;
    height: 62px;

    background-color: #ed7103;
    &--blue {
      background-color: #004694;
    }
    &--sky {
      background-color: #005383;
    }
  }
  &__logo-lowes {
    padding-left: 10px;
  }

  &__title {
    font-size: 30px;
    font-family: "Geometria", sans-serif;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
  }

}
