.files {
  display: flex;
  justify-content: center;
  padding: 0 10px 0 100px;
  &__wrap {
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    width: 740px;
    min-height: 62px;

    background-color: #ed7103;
    &--blue {
      background-color: #004694;
    }
    &--sky {
      background-color: #005383;
    }
  }
  &__wrap--closed {
    margin-top: 20px;
  }
  &__logo-lowes {
    padding-left: 10px;
  }

  &__title {
    .title-text;
  }
}
@media (max-width: 960px) {
  .files {
    padding: 10px 15px 10px 70px;
    &__wrap {
      width: 440px;
    }
    &__title {
      font-size: 16px;
    }
  }
}

@media (max-width: 650px) {
  .files {
    &__wrap {
      gap: 10px;
      flex-direction: column;
      padding: 5px 20px 10px 0;
      width: 350px;
    }
    &__title {
      display: none;
    }
  }
}
