.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 auto;

  padding: 25px 25px 25px 100px;
  height: 30px;
  &__text {
    font-family: "Open sans", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: @color-grey;
  }
}
