.header {
  padding-left: 100px;
  background-color: #7e8a9c;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
  }
  &__item1 {
    justify-self: flex-end;
  }
  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100px;
    height: 100px;
  }
  &__burger-icon {
    width: 37px;
    height: 32px;
    cursor: pointer;
  }
  &__title {
    font-size: 30px;
    font-family: "Geometria", sans-serif;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
    transform: translateX(100%);
  }
  &__manager-photo {
    width: 64px;
    height: 64px;
    margin-right: 12px;
  }
  &__manager-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 64px;
  }
  &__manager-title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }
  &__manager-subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }
  &__another-managers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding-right: 20px;
  }
  &__manager-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47px;
    height: 47px;
  }
  &__manager-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 47px;
    height: 47px;
    background-color: #bdc5cf;
  }
  &__manager-icon {
    width: 47px;
    height: 47px;
  }
  &__manager-text {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
  }
}

@media (max-width: 961px) {
  .header {
    padding-left: 70px;
    &__title {
      font-size: 21px;
      line-height: 28px;
    }
    &__list {
      flex-wrap: wrap;
      justify-content: stretch;
      align-items: stretch;
    }
    &__burger {
      height: 70px;
      width: 70px;

      order: 2;
    }
    &__burger-icon {
      width: 27px;
      height: 22px;
    }
    &__item-title {
      margin: auto;
    }
    &__item-last {
      justify-content: center;
      padding-top: 16px;
      order: 3;
      background-color: #f8f9fa;
      flex-basis: 100%;
      border: none;
      outline: none;
    }
    &__manager-photo {
      width: 45px;
      height: 45px;
      margin-left: 21px;

      margin-right: 35px;
    }
    &__manager-icon,
    &__manager-number,
    &__manager-add {
      width: 33px;
      height: 33px;
    }
    &__another-managers {
      gap: 10px;
      padding-right: 10px;
    }
    &__number-icon {
      width: 21px;
      height: 17px;
    }
    &__manager-info {
      display: none;
    }
    &__manager-text {
      font-size: 7px;
      line-height: 14px;
      color: #909eaf;
    }
  }
}
