.header {
  padding-left: 100px;
  background-color: @color-grey;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.1px 3px 7px 1px rgba(34, 60, 80, 0.2);
  }
  &__item {
    display: flex;
  }
  &__item-last {
    height: 100px;
    align-items: center;
    background-color: @body-color-white;
    padding: 0 10px;
  }
  &__main-manager {
    display: flex;
    justify-content: center;
    background: transparent;

    margin-right: 12px;
    &:hover {
      background: @color-white;
    }
  }
  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @color-white;
    width: 100px;
    height: 100px;
  }
  &__burger-icon {
    width: 37px;
    height: 32px;
    cursor: pointer;
  }
  &__title {
    .title-text;
    transform: translateX(100%);
  }
  &__manager-photo {
    width: 64px;
    height: 64px;

    cursor: pointer;
  }
  &__manager-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 64px;

    cursor: pointer;
  }
  &__manager-title {
    .basic-text;
    color: @color-grey;
    font-weight: bold;
  }
  &__manager-subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: @color-grey;
  }
  &__another-managers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding-right: 20px;
  }
  &__add-manager {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 47px;
    height: 47px;
    background: @color-grey;
  }

  &__manager-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47px;
    height: 47px;
    gap: 2px;

    cursor: pointer;
    background: transparent;
    &:hover {
      background: @color-white;
    }
  }
  &__manager-icon {
    width: 47px;
    height: 47px;
  }
  &__manager-text {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 20px;
    color: @color-grey;
  }
}

@media (max-width: 1500px) {
  .header {
    &__title {
      transform: translateX(0);
    }
  }
}

@media (max-width: 961px) {
  .header {
    padding-left: 70px;
    box-shadow: none;
    &__title {
      font-size: 21px;
      line-height: 28px;
    }
    &__list {
      flex-wrap: wrap;
      box-shadow: none;
    }
    &__burger {
      height: 70px;
      width: 70px;

      order: 2;
    }
    &__burger-icon {
      width: 27px;
      height: 22px;
    }
    &__item-title {
      margin: auto;
    }
    &__item-last {
      justify-content: center;
      order: 3;
      background-color: @body-color-white;
      flex-basis: 100%;
      border: none;
      outline: none;
      box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.5) inset;
    }
    &__manager-photo {
      width: 45px;
      height: 45px;
      margin-left: 21px;

      margin-right: 35px;
    }
    &__manager-icon,
    &__manager-number,
    &__manager-add {
      width: 33px;
      height: 33px;
      background: @color-grey;
    }
    &__another-managers {
      gap: 10px;
      padding-right: 10px;
    }
    &__number-icon {
      width: 21px;
      height: 17px;
    }
    &__manager-info {
      display: none;
    }
    &__manager-text {
      font-size: 7px;
      line-height: 14px;
    }
  }
}
